# Variaveis

In [1]:
numero = 20

In [2]:
numero

20

In [3]:
numero * 2

40

In [4]:
pi =  3.14

In [5]:
pi

3.14

In [6]:
mensagem = "Estamos no curso de python"

In [7]:
mensagem

'Estamos no curso de python'

In [8]:
int(pi)

3

In [9]:
len(mensagem)

26

In [10]:
texto! = "olá mundo"

SyntaxError: invalid syntax (1996714619.py, line 1)

In [11]:
texto. = "olá mundo"

SyntaxError: invalid syntax (1493977113.py, line 1)

In [12]:
texto_ = "olá mundo"

In [13]:
texto_

'olá mundo'

In [14]:
70centavos = "saldo"

SyntaxError: invalid decimal literal (3454864875.py, line 1)

In [15]:
centavos70 = "saldo"

In [16]:
centavos70

'saldo'

In [17]:
class = "Turma Python"

SyntaxError: invalid syntax (3481019817.py, line 1)

In [18]:
False  =  "TESTE"

SyntaxError: cannot assign to False (3360649259.py, line 1)

In [19]:
Class = "Turma de Python"

In [20]:
Class

'Turma de Python'

In [21]:
nomeSobrenome = "Lucas Dourado"

In [22]:
nome Sobrenome = "Lucas Dourado"

SyntaxError: invalid syntax (1366324452.py, line 1)

In [32]:
del len

In [33]:
len("a")

1

# Declaração Import

In [34]:
import math

In [37]:
valor_do_pi = math.pi

In [38]:
valor_do_pi

3.141592653589793

In [39]:
math.sqrt(25)

5.0

In [40]:
math.pow(5,2)

25.0

In [41]:
import pandas

In [42]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Looking in links: /usr/share/pip-wheels
Requirement already satisfied: pandas in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/conda/envs/anaconda-2024.02-py310/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

# Expressoes e declarações

In [45]:
50 + numero + math.pi * 2

76.2831853071796

# Função print

In [46]:
print(numero)

20

In [47]:
numero

20

In [48]:
aluno1 = "Victor"

In [49]:
aluno2 = "Nicolas"

In [50]:
aluno3 = "Brasil"

In [59]:
print(aluno1, aluno2, aluno3, sep="|")
print(aluno1, aluno2, aluno3, sep=", ")

Victor|Nicolas|Brasil
Victor, Nicolas, Brasil

In [65]:
print(aluno1, aluno2, aluno3, sep="|",end="---")
print(aluno1, aluno2, aluno3, sep=", ")

Márcio|Nicolas|Brasil---Márcio, Nicolas, Brasil

In [61]:
print("Aluno matricula 1:", aluno1)
print("Aluno matricula 2:", aluno2)

Aluno matricula 1: Victor
Aluno matricula 2: Nicolas

In [62]:
aluno1  =  "Márcio"

In [63]:
print("Aluno matricula 1:", aluno1)
print("Aluno matricula 2:", aluno2)

Aluno matricula 1: Márcio
Aluno matricula 2: Nicolas

In [66]:
print(aluno1, aluno2, aluno3, sep="\n")

Márcio
Nicolas
Brasil

In [68]:
abs()

TypeError: abs() takes exactly one argument (0 given)

In [69]:
%whos

Variable               Type        Data/Info
--------------------------------------------
Class                  str         Turma de Python
aluno1                 str         Márcio
aluno2                 str         Nicolas
aluno3                 str         Brasil
centavos70             str         saldo
dataframe_columns      function    <function dataframe_columns at 0x77f9bebcaa70>
dataframe_hash         function    <function dataframe_hash at 0x77f9bebc8310>
dtypes_str             function    <function dtypes_str at 0x77f9bebc80d0>
get_dataframes         function    <function get_dataframes at 0x77f9bebcab00>
getpass                module      <module 'getpass' from '/<...>b/python3.10/getpass.py'>
hashlib                module      <module 'hashlib' from '/<...>b/python3.10/hashlib.py'>
import_pandas_safely   function    <function import_pandas_safely at 0x77f9bebc8040>
is_data_frame          function    <function is_data_frame at 0x77f9bebc96c0>
json                   module      <module 'json' from '/opt<...>on3.10/json/__init__.py'>
math                   module      <module 'math' from '/opt<...>310-x86_64-linux-gnu.so'>
mensagem               str         Estamos no curso de python
nomeSobrenome          str         Lucas Dourado
numero                 int         20
pandas                 module      <module 'pandas' from '/o<...>ages/pandas/__init__.py'>
pi                     float       3.14
texto_                 str         olá mundo
valor_do_pi            float       3.141592653589793